
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
  
  
*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
  font-family: 'poppins', sans-serif;
}
body{
  background-color: #081b29;
  color: #ededed;
}
.header{
  position: fixed;
  top:0;
  left:0;
  width: 100%;
  padding: 20px 10%;
  background:transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;

  
}
.logo{
  font-size:25px;
  color:#ededed;
  text-decoration:none;
  font-weight: 800px;

}
.navbar a{
  font-size:19px;
  color:#ededed;
  text-decoration: none;
  font-weight: 500;
  margin-left: 35px;
  transition: .3s;
}

.navbar a:hover,
.navbar a:active{

  color:#00abf0;
}
.home{
  height: 100vh;
 background: url('divv.png') no-repeat;
 background-size: contain;
 background-position: right;
 background-size: 400px;
  border-radius: 50%;
   background-position: right;
   margin-right: 30px;


  display: flex;
  align-items: center;
  padding: 0 10%;
}

.home-content{
   background-color: none;
   max-width: 800px;
   
}

.home-content h1{
  font-size: 56px;
  font-weight: 700;
}

.home-content h3{
  font-size: 32px;
  font-weight: 700;
  color:#00abf0

}
.home-content p{
  font-size: 16px;
  margin: 20px 0 40px;
  line-height: 2;
}

.home-content .btn-box{
  display: flex;
  justify-content: space-between;
  width: 345px;
  height: 50px;
  background: transparent;
}

.btn-box a {
  display: inline-flex;
  justify-content: center;
  width: 150px;
  height: 70%;
  background-color: #0ab5f8;
  border: 2px solid #00abf0;
  border-radius: 8px;
  font-size: 20px;
  color: #081b29;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 1px;
}
.btn-box a:nth-child(2){
  background: transparent;
  color: #00abf0;
}

.home-sci{
  position:absolute;
  bottom: 40px;
  width: 170px;
  background: transparent;
  display: flex;
  justify-content: space-between;

}
.home-sci a {
  
   display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #00abf0;
    border-radius: 50%;
    font-size: 20px;
    color:#00abf0;
    text-decoration: none;
    transition: .5s;
}
.home-sci a:hover{
  color:#043f69;

}
